requests
pydantic
PyPDF2
langchain
pymilvus
sentence_transformers
pymongo
transformers
openai
torch
groq
ollama
chainlit
bm25s
loguru
infinity-emb
einops
langchain
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-groq
langchain-openai
langchain-text-splitters
black
isort
flake8
fastembed
pypdf